{
  "presets": [["@babel/preset-env", { "modules": false }], "@babel/preset-typescript"],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"],
      "plugins": ["@babel/plugin-proposal-object-rest-spread"]
    }
  },
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
